
@{
    ViewBag.Title = "PageNotFound";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sorry Something went wrong...!</h5>
            @Html.ActionLink("Go Back To Home Page", "Index")
        </div>
    </div>
</div>